
<div class="footer1">
	<div class="container clientlogo">
		<div class="col-md-3">
			<img class="img-responsive" src="/assets/Clients-img_1.png">
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="/assets/Clients-img_2.png">
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="/assets/Clients-img_3.png">
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="/assets/Clients-img_4.png">
		</div>
	</div>
</div>
<footer>
<div class="footer2">
	<div class="container subscriberupdat">
		<p>SUBSCRIBER OUR UPDATES</p><input class="youremail" type="text" name="email" placeholder="Your Email"><input type="button" value="Subscribe" class="subscribe_news">
	</div>
</div>
<div class="footer3">
	<div class="container footer3container">
		<div class="col-md-6 contactfooter">
			<h5>CONTACT US</h5>
			<div class="row">
				<div class="col-md-6">
					<ul class="contactdeta">
						<li>
							<span><img src="/assets/loactionnew1.png"></span>
							<p>6100 PHEASANT RUN SEVERNA PARK, MD 20210</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="contactdeta">
						<li><span><img src="/assets/emailnew1.png"></span><p>@VPAD.com</p></li>
						<li><span><img src="/assets/callnew1.png"></span><p>+917000021010</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row logorowimg">
				<img src="/assets/logo2.png">
			</div>
			<div class="row">
				<ul class="menu-lft">
					<li><a href="">HOME</a></li>
					<li><a href="">FESTIVALS</a></li>
					<li><a href="">MY EVENTS</a></li>
					<li><a href="">MY GROUPS</a></li>
					<li><a href="">MY PROFILE</a></li>
					<li><a href="">MY CALENDAR</a></li>
				</ul>
			</div>
			<span>&nbsp;</span>
			<div class="row">
				<ul class="social-media clearfix">
			        <li><a href="" class="face"></a></li>
			        <li><a href="" class="twit"></a></li>
			        <li><a href="" class="linkin"></a></li>
			     </ul>
			</div>
		</div>
	</div>
</div>
	<section class="foot-bottom">
     <div class="container">
     <p>Copyright © 2016 <a href="/">VPAD</a> | All right Reserved</p>
     </div> 
     
   </section>
</footer>