<header class="header" id="sticky_navigation">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="col-md-3 logo_hms_n_rooms">
        <a href="/"><img class="logo" src="/assets/Vpad-logo.png" alt="logo"></a>
      </div>
      <div class="col-md-9">
        <div class="cont-reg">

          <ul class="cont-reg-ui">
            <li><a href="">Contact</a></li>
      
            <li id="dropdown-1" class="dropdown dropdown-processed drop">
              <% if session[:access_token].blank? %>
                  <a href="/main_page/regs">Register</a>
                  <a class="dropdown-link1 logi" href="#" id="loginPopup">Login</a>
              <%else%>
                  <%= link_to "logout", :controller=> "main_page", :action=> "clear_session", :class => "dropdown-link1 logi" %>
              <%end%>
              <div class="dropdown-content" style="display: none;">
                <div class="loginform">
                  <div class="row conta-form">

                    <%= form_for("user", :url => main_page_login_path) do |f| %>
                        <div class="form-group">
                          <%= f.label :Email, class: 'emaillabel'%>
                          <%= f.text_field :email, class: "form-control emailbox" %><br/>
                        </div>
                        <div class="form-group">
                          <%= f.label :Password, class: "passlabel" %><br/>
                          <%= f.password_field :password, class: "form-control passbox" %><br />
                        </div>
                        <div class="form-group loginsubfor">
                          <p class="pbtn"><%= f.submit 'Sign in', class: "btn btn-login" %></p>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <br>
          <ul class="social_header_part">
            <li><a class="header_notification"></a></li>
            <li><a class="header_facebook"></a></li>
            <li><a class="header_twitt"></a></li>
            <li><a class="header_linkdin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="menu_section">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active dropdown"><a href="" class="">HOME</a></li>
            <% if session[:access_token].blank? %>            
            <%else%>


                <li class="dropdown">
                  <a href="" class="">CALENDAR</a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="row">
                        <div class="container">
                          <div class="col-sm-4">
                            <ul>
                              <li><b><a href="/main_page/event_cal">EVENT CALENDAR</a></b></li>
                            </ul>
                          </div>
                          <div class="col-sm-4 second_div_padd">
                            <ul>
                              <li><b><a href="/main_page/vspecial_cal">VSPECIAL CALENDAR</a></b></li>
                            </ul>
                          </div>
                          <div class="col-sm-4">
                            <ul>
                              <li><b><a href="/main_page/festival_cal">FESIVAL CALENDAR</a></b></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>



                <li class="dropdown"><a href="" class="">MY EVENTS</a></li>
                <li class="dropdown" ><a href="/main_page/user_profile" class="">MY PROFILE</a></li>
            <%end%>


          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>