<!DOCTYPE html>
<html>

<body>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script language=javascript src='http://maps.google.com/maps/api/js'></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-link1").click(function(){
      $(this).toggleClass("intro");
    });
  });
</script>

<%= render :partial => 'header.html.erb'%>

<div class="container-fluid">
  <div>
    <div class="col-md-7 slider2">
      <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="<%=@event_details['image']%>" alt="Chania">
          </div>
        </div>
        <a class="left carousel-control " href="#myCarousel1" role="button" data-slide="prev"></a>
        <a class="right carousel-control " href="#myCarousel1" role="button" data-slide="next"></a>
      </div>
    </div>
    <div class="col-md-5 bussinesconf1">
      <div class="bussinesconf">
        <h3><%=@event_details['name']%></h3>
        <span>&nbsp;</span>
        <ul class="evntdate">
          <li>
            <span><img src="/assets/calender.png"></span>
            <p><%= DateTime.parse(@event_details['date']).strftime("%d-%^b-%Y")%> to <%= DateTime.parse(@event_details['enddate']).strftime("%d-%^b-%Y") rescue nil%></p>
          </li>
          <li>&nbsp;</li>
          <li>
            <span><img src="/assets/clock.png"></span>
            <p>Start Time: <%= DateTime.parse(@event_details['date']).strftime("%I:%M%p")%><br>End Time: <%= DateTime.parse(@event_details['date']).strftime("%I:%M%p") rescue nil%></p>
          </li>
          <li>&nbsp;</li>
        </ul>
      </div>
      <h2>EVENT BOOKING WILL BE CLOSED TODAY</h2>
      <h4>So Hurryup! To Buy Tickets.</h4>
      <div class="buytiketsblock"><input type="button" class="btn buy_ticket" value="Buy Tickets"></div>
    </div>
  </div>
</div>
<span>&nbsp;</span>
<div class="container-fluid attendevtcontainer">
  <div class="attndevnt">
    <div class="col-md-3 wouldatevt">
      <p>Would you attend this event?</p>
    </div>
    <div class="col-md-3 yesnomaybe">
      <input type="radio" id="radio03" name="eventattand" checked="checked"><label for="radio03"><span class="vetattd"></span>&nbsp;&nbsp;Yes&nbsp;&nbsp;</label><input type="radio" id="radio04" name="eventattand"><label for="radio04"><span class="vetattd"></span>&nbsp;&nbsp;No&nbsp;&nbsp;</label><input type="radio" id="radio05" name="eventattand"><label for="radio05"><span class="vetattd"></span>&nbsp;&nbsp;May Be</label>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <img src="/assets/star.png">
    </div>
  </div>
</div>
<span>&nbsp;</span>
<div class="container-fluid">
  <div>
    <ul class="nav nav-tabs eventtab">
      <li class="active eventdeltab"><a data-toggle="tab" href="#menu1">Event Details</a></li>
      <li class="eventdeltab"><a data-toggle="tab" href="#menu2">Agenda </a></li>
      <li class="eventdeltab"><a data-toggle="tab" href="#menu3">Venue Details</a></li>
      <li class="eventdeltab"><a data-toggle="tab" href="#menu4">Organizer Details</a></li>
    </ul>

    <div class="tab-content">
      <div id="menu1" class="tab-pane fade in active">
        <div class="business_confrence">
          <%=@event_details['myevent'].html_safe%>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <%=@event_details['agenda'].html_safe%>
        <span>&nbsp;</span>
      </div>
      <div id="menu3" class="tab-pane fade">
        <div class="col-md-12 menu3">
          <div class="col-md-6">
            <ul class="venudetbk1">
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>
                <p></p>
              </li>
              <li>&nbsp;</li>
              <li>
                <p><ins class="available"></ins></p>
              </li>
              <li>&nbsp;</li>
              <li>
                <p></p>
              </li>
              <li>&nbsp;</li>
              <li>
                <p></p>
              </li>
              <li>&nbsp;</li>
              <li class="sharespan">
                <span><img src="/assets/share.png"></span>
                <a href="http://maps.google.com/?q=<%=@event_details['map'].split(",")[0]%>,<%=@event_details['map'].split(",")[1]%>"><p>GET DIRECTION</p></a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div id="map" class="adressmap"></div>

          </div>
        </div>
      </div>
      <div id="menu4" class="tab-pane fade">
        <div class="col-md-12 orgnizerdetales">
          <ul class="orgnizerdetail">
            <li>
              <%=@event_details['infodesk'].html_safe%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<span>&nbsp;</span>
<div class="sponsor">
  <div class="container sponsorblock">
    <h1><u>SPONSOR</u></h1>
    <%=@event_details['sponsors'].html_safe%>
  </div>
</div>
<span>&nbsp;</span>
<div class="container">
  <div class="col-md-7 userreviwblock">
    <div class="user_review">
      <span>&nbsp;</span>
      <h1>USER REVIEW</h1>
      <span>&nbsp;</span>
      <form class="form-horizontal" role="form" method="" action="">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control userreviewinput" placeholder="Name" id="firstname" name="firstname"  value="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control userreviewinput" placeholder="Email" id="email" name="email"  value="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control userreviewinput" placeholder="Comment here...." rows="6" name="message"></textarea>
          </div>
        </div>
        <span>&nbsp;</span>
        <div class="form-group">
          <div class="col-sm-12 userreviewsubmit">
            <input id="submit" name="submit" type="submit" value="SUBMIT" class="btn btn-userreview">
          </div>
        </div>
      </form>
    </div>
    <span>&nbsp;</span>
    <div class="eventslider">
      <h3><%=link_to "GALLERY", main_page_gallery_path(:eid => @event_details['eid'] )%></h3>

      <div id="myCarousel2" class="carousel slide secondslide" data-ride="carousel">
        <div class="carousel-inner innercarousbg" role="listbox">
          <div class="item active left">
            <div class="row">
              <div class="col-md-12 slidealign">
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>


              </div>
            </div>
          </div>

          <div class="item next left">
            <div class="row">
              <div class="col-md-12 slidealign">
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
                <div class="col-md-3 galerslide1">
                  <img class="img-responsive" src="<%= @gallery['data'].sample['tbnail']%>">
                </div>
              </div>
            </div>
          </div>
          <a class="right carousel-control " href="#myCarousel2" role="button" data-slide="next"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="spread_the_word">
      <h1>SPREAD THE WORD</h1>
    </div>
    <div class="sherwityouf">
      <ul class="footsocialicon1">
        <li><img src="/assets/facebook1.png"></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li><img src="/assets/twiter1.png"></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li><img src="/assets/youtube.png"></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li><img src="/assets/linkdin1.png"></li>
      </ul>
      <p>share with your friends & colleagues.</p>
    </div>
    <div class="spread_the_word">
      <h1>SIMILAR EVENTS</h1>
    </div>
    <table class="other_event_table">
      <tbody>
      <tr class="simevtblock"><td><img src="/assets/img1.jpg"></td><td><p class="banartcoll">Banglore Art Collective</p><p><img src="/assets/time.png">22 Jan 2016</p><p><img src="/assets/chat.png">10 comments</p></td></tr>
      <tr class="simevtblock"><td><img src="/assets/img2.jpg"></td><td><p class="banartcoll">Banglore Art Collective</p><p><img src="/assets/time.png">22 Jan 2016</p><p><img src="/assets/chat.png">10 comments</p></td></tr>
      <tr class="simevtblock"><td><img src="/assets/img3.jpg"></td><td><p class="banartcoll">Banglore Art Collective</p><p><img src="/assets/time.png">22 Jan 2016</p><p><img src="/assets/chat.png">10 comments</p></td></tr>
      </tbody></table>
  </div>
</div>
<span>&nbsp;</span>

<%= render :partial => 'footer.html.erb'%>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#first_project").hover(function(){
      $(".inner_projects").show();
    });
    $("#first_project").mouseleave(function(){
      $(".inner_projects").hide();
    });

    $("#secondproject").hover(function(){
      $(".inner_projects_two").show();
    });
    $("#secondproject").mouseleave(function(){
      $(".inner_projects_two").hide();
    });

    $("#thirdproject").hover(function(){
      $(".inner_projects_three").show();
    });
    $("#thirdproject").mouseleave(function(){
      $(".inner_projects_three").hide();
    });
  });

</script>

<script type="text/javascript">
  $(document).ready(function(){

    $('li.dropdown').each(function() {
      var $dropdown = $(this);

      $("a.dropdown-link1", $dropdown).click(function(e) {
        e.preventDefault();
        $div = $("div.dropdown-content", $dropdown);
        $div.toggle();
        $("li.dropdown-content").not($div).hide();
        return false;
      });

    });
    
    $('html').click(function(){
      $("li.dropdown-content").hide();
    });

});
</script>

<script>
  function initialize(){
    var myLatlng = new google.maps.LatLng(12.909694, 77.643218);
    var myOptions = {
      zoom: 14,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"Fast marker"
    });
  }
  google.maps.event.addDomListener(window,'load', initialize);

</script>
</body>
</html>
