<!DOCTYPE html>
<html>

<body>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-link1").click(function(){
      $(this).toggleClass("intro");
    });
  });
</script>
<script type="text/javascript">

  $(function() {

    var sticky_navigation_offset_top = $('#sticky_navigation').offset().top;
    var sticky_navigation = function(){
      var scroll_top = $(window).scrollTop();
      if (scroll_top > sticky_navigation_offset_top) {
        $('#sticky_navigation').css({ 'position': 'fixed', 'top':0, 'z-index':1 });
        $('#sticky_navigation').addClass('scroll_menu');
        $('#sticky_navigation ul.nav.navbar-nav').addClass('container');
      } else {
        $('#sticky_navigation').css({ 'position': 'relative', 'top':0,'z-index':1 });
        $('#sticky_navigation').removeClass('scroll_menu');
        $('#sticky_navigation ul.nav.navbar-nav').removeClass('container');
      }
    };
  
    sticky_navigation();
    $(window).scroll(function() {
      sticky_navigation();
    });
    $('a[href="#"]').click(function(event){
      event.preventDefault();
    });
  
});
</script>


<%= render :partial => 'header.html.erb'%>
<div class="container-fluid slider_container">
  <section class="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	      
      <div class="carousel-inner" role="listbox">
        <% flag = true %>
        <%@homeApi['data']['banners'].each do |event|%>
            <% class_var = flag == true ? "item active" : "item" %>
            <div class='<%=class_var%>'>


              <%= link_to image_tag(event["image"], :alt => "first", :style=>'data-holder-rendered:true;',
                                    :class => "img-responsive slideimghome"),main_page_event_details_path(:event_details => event['eid'])%>

              <%flag= false %>
            </div>
        <%end%>

      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      </a>
    </div>
  </section>
</div>
<span>&nbsp;</span>

<div class="container-fluid">
  <div class="col-md-12 upcoming_event text-center">
    <h3>EVENTS CALENDER</h3>
  </div>
  <div class="col-md-12">
    <div class="carousel1 slide slider-side" id="myCarousel">
      <div class="carousel-inner ">
        <% flag = true %>
        <%@homeApi['data']['events'].each do |event|%>
            <% class_var = flag == true ? "item active" : "item" %>
            <div class='<%=class_var%>'>
              <div class="col-md-3 text-center"><a href="#loginPopup">
        
                <div class="event_name_calender"><%=event['name']%></div>
                <div class="hovereffect_circle">
                  <img class="img-responsive img-circle" src="<%=event['image']%>">
                  <div class="overlay">
                    <% if session[:access_token].blank? %>
                        <h2><%= DateTime.parse(event['date']).strftime("%d %^b")%></h2>
                        <p><%=event['desc']%></p>
                    <%else%>
                        <%= link_to main_page_event_details_path(:event_details => event['eid']) do %>
                            <h2><%= DateTime.parse(event['date']).strftime("%d %^b")%></h2>
                            <p><%=event['desc']%></p>
                        <%end%>
                    <%end%>
                  </div>
                  <span class="badge_plus">+</span>
                </div>
              </a></div>
            </div>
            <%flag= false %>
        <%end%>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="/assets/arrow-pointing-to-right.png"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="/assets/arrow-pointing-to-left.png"></i></a>
    </div>
  </div>
</div>
<span>&nbsp;</span>

<div class="container-fluid">
  <div class="featured_event">
    <h3>FEATURED EVENTS</h3>
  </div>
</div>
<%@homeApi['data']['featured_event'].each do |event|%>
    <div class="container-fluid fetured_events">
      <div class="col-md-6 featuevtimgblock">
        <%= link_to image_tag(event['image'], :border=>0, :class => "img-responsive")%>
      </div>
      <div class="col-md-6 fetevtbgimg">
        <h4><%= DateTime.parse(event['date']).strftime("%d-%^b-%Y")%></h4>
        <h3><%= event['name'] %></h3>
        <p><%= event['desc'] %></p>
        <% if session[:access_token].blank? %>
            <div class="getmoreinfoblock"><span class = "btn getmorinfobtn">
              <%= link_to "Login for more details"%></span></div>
        <%else%>
            <div class="getmoreinfoblock"><span class = "btn getmorinfobtn">
              <%= link_to "GET MORE INFO", main_page_event_details_path(:event_details => event['eid'])%></span></div>
        <%end%>
      </div>
    </div>
<%end%>

<span>&nbsp;</span>
<div class="container-fluid">
  <div class="evtbyorganiz_event new text-center drop-down dropdown-toggle" data-toggle="dropdown">
    <h3><a>EVENTS BY ORGANISERS <span class="caret"></span></a></h3>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</div>
<div class="container-fluid evtbyorgblock">
  
<%@homeApi['data']['featured_group_events'].each do |event|%>
      <div class="col-md-4">
        <div class="hovereffect">
          <%= link_to image_tag(event['image'], :border=>0, :class => "img-responsive imgsize") %>
          <div class="overlay">
            <div class="evtbyorzconte">
              <p class="event_name"><%= event['name']%></p>
            </div>
          </div>
        </div>
        <% if session[:access_token].blank? %>
            <div class="field"><legend class="legend_year"><p><%= DateTime.parse(event['date']).strftime("%d %^b")%></p></legend>
        <%else%>
            <%= link_to main_page_event_details_path(:event_details => event['eid']) do %>
                <div class="field"><legend class="legend_year"><p><%= DateTime.parse(event['date']).strftime("%d %^b")%></p></legend>
            <%end %>
        <%end%>
        <div class="local">LOCATION NAME</div>
        </div>
        </div>
  <%end%>

  </div>
  <span>&nbsp;</span>

  <%= render :partial => 'footer.html.erb'%>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#first_project").hover(function(){
        $(".inner_projects").show();
      });
      $("#first_project").mouseleave(function(){
        $(".inner_projects").hide();
      });

      $("#secondproject").hover(function(){
        $(".inner_projects_two").show();
      });
      $("#secondproject").mouseleave(function(){
        $(".inner_projects_two").hide();
      });

      $("#thirdproject").hover(function(){
        $(".inner_projects_three").show();
      });
      $("#thirdproject").mouseleave(function(){
        $(".inner_projects_three").hide();
      });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){

      $('li.dropdown').each(function() {
        var $dropdown = $(this);

        $("a.dropdown-link1", $dropdown).click(function(e) {
          e.preventDefault();
          $div = $("div.dropdown-content", $dropdown);
          $div.toggle();
          $("li.dropdown-content").not($div).hide();
          return false;
        });

      });
    
      $('html').click(function(){
        $("li.dropdown-content").hide();
      });

    });


$('#myCarousel').carousel({
  interval: 4000
})

    $('.carousel1 .item').each(function(){
      var next = $(this).next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
  
      for (var i=0;i<2;i++) {
        next=next.next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
    
        next.children(':first-child').clone().appendTo($(this));
      }
    });


</script>
</body>
</html>
