

<link rel="stylesheet" type="text/css" href="https://rawgit.com/flatlogic/awesome-bootstrap-checkbox/master/awesome-bootstrap-checkbox.css">

<%= render :partial => 'main_page/header.html.erb'%>
<div class="container-fluid regcontener">
  <div class="container">
    <h3>REGISTER WITH US</h3>

    <%= form_for("new_user", url: main_page_new_user_path,:html => {class: "form-horizontal" ,role: "form"}) do |f| %>
        
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :firstname ,class: "col-sm-3 control-label labelalign" %>
            <div class="col-sm-9">
              <%= f.text_field :fname, autofocus: true, class: "form-control reginputclas" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lastname ,class: "col-sm-3 control-label labelalign" %>
            <div class="col-sm-9">
              <%= f.text_field :lname, autofocus: true, class: "form-control reginputclas" %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :email,class: "col-sm-3 control-label labelalign" %>
            <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, class: "form-control reginputclas" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password ,class: "col-sm-3 control-label labelalign"%>           
            <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", class: "form-control reginputclas" %>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :phone ,class: "col-sm-3 control-label labelalign" %>
            <div class="col-sm-9">
              <%= f.text_field :phone, autofocus: true, class: "form-control reginputclas" %>
            </div>
          </div>
    
        </div>

        <div class="form-group">
          <div class="col-md-3"></div>
          <div class="col-sm-9 registerrow">
            <%= f.submit "Sign up",class: "btn btn-register" %>

          </div>
        </div>

        </div>
    <% end %>
    </div>
</div>
</div>

<%#= render "devise/shared/links" %>
<%= render :partial => 'main_page/footer.html.erb'%>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#first_project").hover(function(){
      $(".inner_projects").show();
    });
    $("#first_project").mouseleave(function(){
      $(".inner_projects").hide();
    });

    $("#secondproject").hover(function(){
      $(".inner_projects_two").show();
    });
    $("#secondproject").mouseleave(function(){
      $(".inner_projects_two").hide();
    });

    $("#thirdproject").hover(function(){
      $(".inner_projects_three").show();
    });
    $("#thirdproject").mouseleave(function(){
      $(".inner_projects_three").hide();
    });
  });

</script>
<script type="text/javascript">
  $(document).ready(function(){

    $('li.dropdown').each(function() {
      var $dropdown = $(this);

      $("a.dropdown-link1", $dropdown).click(function(e) {
        e.preventDefault();
        $div = $("div.dropdown-content", $dropdown);
        $div.toggle();
        $("li.dropdown-content").not($div).hide();
        return false;
      });

    });

    $('html').click(function(){
      $("li.dropdown-content").hide();
    });

  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.multi_select').multiselect({
      templates: { // Use the Awesome Bootstrap Checkbox structure
        li: '<li><div class="checkbox"><label></label></div></li>'
      }
    });
    $('.multiselect-container div.checkbox').each(function (index) {

      var id = 'multiselect-' + index,
          $input = $(this).find('input');

      // Associate the label and the input
      $(this).find('label').attr('for', id);
      $input.attr('id', id);

      // Remove the input from the label wrapper
      $input.detach();

      // Place the input back in before the label
      $input.prependTo($(this));

      $(this).click(function (e) {
        // Prevents the click from bubbling up and hiding the dropdown
        e.stopPropagation();
      });

    });
  });
</script>