<!DOCTYPE html>
<html>

<body>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-link1").click(function(){
      $(this).toggleClass("intro");
    });
  });
</script>

<%= render :partial => 'header.html.erb'%>
<div class="container-fluid profilecontener">
  <div class="container">
    <h3>MY PROFILE</h3>

    <div class="col-md-3">
      <div class="userprofile">
			
        <%= image_tag("/assets/userprofile.jpg", class: "img-responsive")%>
      </div>
    </div>
    <div class="col-md-4">
      <form class="form-horizontal" role="form" method="post" action="index.php">
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label profilelabelalign">FIRST NAME</label>
          <div class="col-sm-9">
            <input type="text" class="form-control profileinputclas" id="firstname" name="firstname"  value="<%= @user_details['fname'] %>" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label profilelabelalign">LAST NAME</label>
          <div class="col-sm-9">
            <input type="text" class="form-control profileinputclas" id="lastname" name="lastname"  value="<%= @user_details['lname'] %>" disabled="">
          </div>
        </div>
                 
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label profilelabelalign">EMAIL ID</label>
          <div class="col-sm-9">
            <input type="email" class="form-control profileinputclas" id="email" name="email"  value="<%= @user_details['email'] %>" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-3 control-label profilelabelalign">Registration Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control profileinputclas" id="phone" name="phone"  value="<%= DateTime.parse(@user_details['regdate']).strftime("%d-%^b-%Y")%>"         disabled="">
          </div>
        </div>

      </form>
    </div>
    <div class="col-md-5">
      <form class="form-horizontal" role="form" method="post" action="index.php">
                  
        <div class="form-group">
          <label for="message" class="col-sm-3 control-label profilelabelalign">ADDRESS</label>
          <div class="col-sm-9">
            <textarea class="form-control profileinputclas" rows="3" name="message" disabled=""><%= @user_details['address1'] %> <%= @user_details['address2']%> <%= @user_details['city']%><%= @user_details['city']%><%= @user_details['state']%><%= @user_details['country']%> <%= @user_details['pincode']%></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-3 control-label profilelabelalign">PHONE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control profileinputclas" id="phone" name="phone"  value="<%= @user_details['ph']%>" disabled="">
          </div>
        </div>


            
      </form>
      <span>&nbsp;</span>
    </div>
  </div>
</div>
<%= render :partial => 'footer.html.erb'%>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#first_project").hover(function(){
      $(".inner_projects").show();
    });
    $("#first_project").mouseleave(function(){
      $(".inner_projects").hide();
    });

    $("#secondproject").hover(function(){
      $(".inner_projects_two").show();
    });
    $("#secondproject").mouseleave(function(){
      $(".inner_projects_two").hide();
    });

    $("#thirdproject").hover(function(){
      $(".inner_projects_three").show();
    });
    $("#thirdproject").mouseleave(function(){
      $(".inner_projects_three").hide();
    });
  });

</script>
<script type="text/javascript">
  $(document).ready(function(){

    $('li.dropdown').each(function() {
      var $dropdown = $(this);

      $("a.dropdown-link1", $dropdown).click(function(e) {
        e.preventDefault();
        $div = $("div.dropdown-content", $dropdown);
        $div.toggle();
        $("li.dropdown-content").not($div).hide();
        return false;
      });

    });
    
    $('html').click(function(){
      $("li.dropdown-content").hide();
    });

});
</script>
</body>
</html>