<!DOCTYPE html>
<html>
<body>
<%= render :partial => 'header.html.erb'%>
<section class="content_section_festivel">
    <div class="container-fluid">
         <h3 class="about_us_main">VSPECIAL CALENDAR</h3>
        <div class="col-md-12 calendar_months remove_padding_priest_listing">

    <%(1..12).each do |i|%>
    <%sd = Date.new(Date.today.year, i)%>    
    <%ed = sd.end_of_month%>

            <h3><%=sd.strftime("%^B")%></h3>
            <div class="col-md-12 calendar_slider_margin_provide">
                <div id="calendarslider<%=sd.strftime("%B").downcase%>" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <% @new_hash = {}%>
                      <% @calendar_type_hash['vspecial'].each {|x| @new_hash[DateTime.parse(x['date']).strftime('%Y-%m-%d')] = x}%>
                        <% @flag = true %>
                        <% @count = 0%>
                        <%(sd..ed).each do|day|%>
                          <% carosel_flag = false%>
                          <%if @count%6 == 0 %>
                            <% carosel_flag = true%>
                            <% class_var = @flag == true ? "item active" : "item" %>
                          <%end%>
                          <% if carosel_flag == true %>
                            <div class='<%=class_var%>'>
                          <%end%>
                          <div class="col-md-2">
                          <% if @new_hash.keys.include? day.to_s %>
                            <div class="holiday_for_calendar">
                              <p><%= day.strftime("%d") %>,<%=day.strftime("%A")%></p>
                              <p><%=@new_hash[day.to_s]['name']%></p>
                              <p><%=@new_hash[day.to_s]['desc']%></p>
                            </div>
                          <%else%>
                            <div class="noramlday_for_calendar">
                              <p><%= day.strftime("%d")%>,<%=day.strftime("%A")%></p>
                            </div>
                          <%end%>
                          </div>
                          <% if @count%6 == 5%>
                            </div>
                          <%end%>
                          <%@count = @count + 1%>
                          <% @flag = false %>
                        <%end%>
                    </div>
                    <div class="calendar_arrow">
                        <a class="left carousel-control newcontrol" href="#calendarslider<%=sd.strftime("%B").downcase%>" data-slide="prev"></a>
                        <a class="right carousel-control newcontrol" href="#calendarslider<%=sd.strftime("%B").downcase%>" data-slide="next"></a>
                    </div>
                </div>
            </div>

        <%end%>

      </div>
    </div>
</section>
<%= render :partial => 'footer.html.erb'%>

  <script type="text/javascript">
$(document).ready(function(){
    $("#first_project").hover(function(){
        $(".inner_projects").show();
    });
    $("#first_project").mouseleave(function(){
        $(".inner_projects").hide();
    });

    $("#secondproject").hover(function(){
        $(".inner_projects_two").show();
    });
    $("#secondproject").mouseleave(function(){
        $(".inner_projects_two").hide();
    });

    $("#thirdproject").hover(function(){
        $(".inner_projects_three").show();
    });
    $("#thirdproject").mouseleave(function(){
        $(".inner_projects_three").hide();
    });   
    });

</script>
<script type="text/javascript">
    $(document).ready(function(){

  $('li.dropdown').each(function() {
    var $dropdown = $(this);

    $("a.dropdown-link1", $dropdown).click(function(e) {
      e.preventDefault();
      $div = $("div.dropdown-content", $dropdown);
      $div.toggle();
      $("li.dropdown-content").not($div).hide();
      return false;
    });

});
    
  $('html').click(function(){
    $("li.dropdown-content").hide();
  });
     
});
  </script>
</body>
</html>