@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/assets/OpenSans-Bold.woff') format('woff'),
       url('/assets/OpenSans-Bold.ttf') format('truetype'),
       url('/assets/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold_0';
  src: url('/assets/OpenSans-Bold_0.eot');
  src: url('/assets/OpenSans-Bold_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/OpenSans-Bold_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-LightItalic_0';
  src: url('/assets/OpenSans-LightItalic_0.eot');
  src: url('/assets/OpenSans-LightItalic_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/OpenSans-LightItalic_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('/assets/OpenSansLight-Italic.woff') format('woff'),
       url('/assets/OpenSansLight-Italic.ttf') format('truetype'),
       url('/assets/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular_0';
  src: url('/assets/OpenSans-Regular_0.eot');
  src: url('/assets/OpenSans-Regular_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/OpenSans-Regular_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/OpenSans.woff') format('woff'),
       url('/assets/OpenSans.ttf') format('truetype'),
       url('/assets/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('/assets/OpenSans-Semibold.woff') format('woff'),
       url('/assets/OpenSans-Semibold.ttf') format('truetype'),
       url('/assets/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold_0';
  src: url('/assets/OpenSans-Semibold_0.eot');
  src: url('/assets/OpenSans-Semibold_0.eot?#iefix') format('embedded-opentype'),
       url('/assets/OpenSans-Semibold_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

ul, li{list-style: none; padding: 0; margin: 0;}
body{background:url('/assets/bg1.jpg');}
a, a:hover, a:focus{outline: none; border: 0; text-decoration: none;}
/*--------------------First Header Section Start------------------*/
.header{
    background:url('/assets/header-bg.jpg');
    margin-top: -20px;
}
.logo{
    padding-top: 0px;
}
.cont-reg {
    display: inline-block;
    float: right;
    padding: 0 10px;
}
ul.cont-reg-ui {
    padding-top: 15px;
    margin-left: -35px;
/*    float: right;
    margin-right: 15px;
    width: 100%;
*/}
ul.cont-reg-ui li {
    padding: 0!important;
}
.cont-reg-ui li {
    display: inline-block;
    padding: 5px 0;
}
.cont-reg-ui li a {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px #000 solid;
    line-height: 12px;
    font-family: 'OpenSans';
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.cont-reg-ui li a.logi {
    border-right: 0;
}
.social_header_part {
    float: right;
}
.cont-reg ul li {
    list-style: none;
    display: inline;
    font-family: 'OpenSans';
    font-size: 13px;
    padding: 5px;
}
.header_search {
    background: url("/assets/search.png")no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.header_notification {
    background: url("/assets/notification.png")no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.header_facebook {
    background: url("/assets/facebook.png")no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.header_twitt {
    background: url("/assets/twiter.png")no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.header_linkdin {
    background: url("/assets/linkdin.png")no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.navbar{
    min-height: 0px;
}
/*--------------------First Header Section End------------------*/

/*--------------------Second Header Section Start------------------*/
.navbar-default {
    background-color: #fff!important;
    border-top:1px solid #c82033!important;
    border-radius:0;
    box-shadow:none;
    background-image: none;
    border-bottom: 1px solid #c82033!important;
    border-right: 0px;
    border-left: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #6c6c6c;
    font-size: 14px;
    font-family: 'OpenSans';
    text-transform: uppercase;
    margin: 0 15px 3px 15px;
    padding: 10px 0px 7px 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-image:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
color: #c82033;
background-color:transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #c82033;
}
.intro {
    height: 20px;
    color: #fff!important;
    background: #1b75b4;
}
/*--------------------Second Header Section End------------------*/

/*--------------------Slider Css Start---------------------------*/
.slider_container{
    margin-top: -15px;
    margin-left: -15px;
}
.slider .item img {
    width: 100%;
}
.slider a.right.carousel-control {
    bottom: 0;
}
.slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: -5%;
}
.slider a.left.carousel-control {
    bottom: 0;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: -5%;
}
.carousel-control {
    opacity: 1;
}
.carousel-control {
    position: absolute;
    top: 42%;
    width: 1.9%;
}

.slideimghome{
    height: 550px!important;
}
/*--------------------Slider Css End-----------------------------*/
/*--------------------Upcoming Event Css Start-------------------*/
.upcome_event_start{

}
.upcoming_event{
    display: inline-block;
    margin-left: -15px;
    padding-bottom: 20px;
}
.upcoming_event h3{
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    color: #fff;
    /*background-color: #c82033;*/
    padding: 10px;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    -moz-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
}
.new_section_for_image {
    position: relative;
}
.upcome_event_start .col-md-3.new_section_for_image {
    padding-left: 0;
    margin-left: -15px;
    padding-right: 0px;
}
.upcome_event_start .col-md-9.new_section_for_image {
    padding-right: 0px;
}
.upcom_evt_para{
    font-family: 'OpenSansLight-Italic';
    font-size: 14px;
    color: #6c6c6c;
    text-align: justify;
    border: 1px solid #c82033;
    padding: 15px;
    height: 95px;
    overflow: scroll;
}
.upevenpara{
    padding-right: 0px;
}
.upcomevtimg0{
    height: 368px;
    padding-right: 0px;
    padding-left: 0px;
}
.upcomevtimg1{
    height: 310px;
    padding-right: 0px;
    padding-left: 0px;
}
.upcomevtimg1{
    
}
.upcomevtimg2{
    width: 100%;
    height: 260px!important;
}
.upcomevt1{
    padding-right: 0px;
}
.upcomevtimg3{
    width: 100%;
    height: 260px;
}
.upcome_event_start .col-md-5 .upcomevtimg1{

}
.new_section_for_image h2{
    font-size: 14px;
    font-family: 'OpenSans';
    text-align: center;
    border: 1px solid #A7A5A5;
    margin: 0;
    padding: 5px;
    background: #1b75b4;
}
.upcomevtimg1 h2{
    font-size: 14px;
    font-family: 'OpenSans';
    text-align: center;
    border: 1px solid #A7A5A5;
    margin: 0;
    padding: 8px;
}
.upcomevt1 h2{
    font-size: 14px;
    font-family: 'OpenSans';
    text-align: center;
    border: 1px solid #A7A5A5;
    margin: 0;
    padding: 8px;
}

.inner_projects {
    background: rgba(1,1,1,0.65);
    height: 82%;
    position: absolute;
    width: 86%;
    top: 5.5%;
    float: left;
    margin-bottom: 1px;
    left: 7%;
    padding: 40px;
}
.inner_projects h4 {
    color: #fff;
    padding-top: 0px;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
}
.inner_projects_content h5{
    color: #fff;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
}
.inner_projects_content p{
    color: #fff;
    font-size: 14px;
    font-family: 'OpenSansLight-Italic';
}
.moredetail{
    border: 1px solid #1b75b4;
    color: #1b75b4!important;
    font-size: 13px!important;
    font-family: 'OpenSans-Semibold'!important;
    font-style:italic;
    border-radius:0px;
    margin-top: 15px;
    line-height: 25px;
    background:#fff;
}
.moredetail1{
    border: 1px solid #1b75b4;
    color: #1b75b4!important;
    font-size: 13px!important;
    font-family: 'OpenSans-Semibold'!important;
    font-style:italic;
    border-radius:0px;
    line-height: 25px;
    background:#fff;
}
.moredetail2{
    border: 1px solid #1b75b4;
    color: #1b75b4!important;
    font-size: 13px!important;
    font-family: 'OpenSans-Semibold'!important;
    font-style:italic;
    border-radius:0px;
    line-height: 25px;
    background:#fff;
}
.inner_projects_two {
    background: rgba(1,1,1,0.65);
    height: 75%;
    position: absolute;
    width: 89%;
    top: 5.5%;
    float: left;
    margin-bottom: 1px;
    left: 5.5%;
    padding-left: 40px;
}
.inner_projects_two h4 {
    color: #fff;
    padding-top: 0px;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
}
.inner_projects_three {
    background: rgba(1,1,1,0.65);
    height: 76%;
    position: absolute;
    width: 90%;
    top: 5.5%;
    float: left;
    margin-bottom: 1px;
    left: 6.5%;
    padding-left: 40px;
}
.inner_projects_three h4 {
    color: #fff;
    padding-top: 0px;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
}
/*--------------------Upcoming Event Css End-------------------*/

/*--------------------FEATURED EVENTS Css Start-------------------*/
.featured_event{
    display: inline-block;
    padding-bottom: 20px;
}
/*karthick change*/
.featured_event h3{
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    color: #c82033;
    /*background-color: #f8f7f7;*/
    padding: 10px;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    -moz-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
}
/*karthick change*/
.featuevtimgblock img{
    height: 372px
}
.fetured_events{
    padding-left: 0px;
}
.fetevtbgimg{
    background: url('/assets/featured-events-bg.jpg');
    margin-left: -15px;
    height: 372px;
    border: 1px solid #c82033;
    overflow: scroll;
}
.fetevtbgimg h4{
    color: #6c6c6c;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
}
.fetevtbgimg h3{
    color: #6c6c6c;
    font-size: 20px;
    font-family: 'OpenSans';
    text-align: center;
}
.fetevtbgimg p{
    color: #6c6c6c;
    font-family: 'OpenSans';
    font-size: 12px;
    text-align: center;
    padding: 30px;
    line-height: 25px;
}
.getmoreinfoblock{
    text-align: center;
    margin-bottom: 36px;
}
.getmorinfobtn{
    text-align: center!important;
    padding-right: 50px!important;
    padding-left: 50px!important;
    font-size: 15px!important;
    font-family: 'OpenSans'!important;
    background: #000!important;
    border-radius: 0px!important;
    color: #fff!important;
}
/*--------------------FEATURED EVENTS Css End-------------------*/

/*--------------------EVENT BY ORGANISER Css Start-------------------*/
.evtbyorganiz_event{
    display: inline-block;
    padding-bottom: 20px;
}
.evtbyorganiz_event h3{
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    color: #fff;
    background-color: #c82033;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    -moz-box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
    box-shadow: 0px 2px 12px -1px rgba(209,201,209,0.73);
}
.evtbyorgblock{
    padding-left: 0px;
    padding-right: 0px;
}
.event_name{
    font-size: 13px;
    font-family: 'OpenSans';
    color: #1b75b4!important;
    padding-top: 15px;
}
.evtbyorzconte{
    border-left: 1px solid #c82033;
    margin-top: 60px;
    height: 116px;
}
.evtbyorzconte p{
    font-size: 13px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    line-height: 10px;
    padding-left: 10px;
}
.evtbyorzconte span{
    color: #565656!important;
}

/*********** venky code ********/
.field{
    text-align: center;
    background-color: #5a1065;
    bottom: 28%;
    padding: 0px 112px;
    color: #fff;
}
.legend_year{
        background-color: #C81F32;
    border-radius: 94%;
    word-wrap: break-word;
    vertical-align: middle;
    border: medium none;
    color: #FFF;
    display: inline-block;
    font-size: 23px;
    padding: 22px 20px;
width: 105px;
    line-height: 29px;
    position: absolute;
    top: 53px;
    left: 35%;height: 100px;

}
.hovereffect {
  height: 190px;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  /*padding-bottom: 110px;*/
  filter: alpha(opacity=0);
  left: 20px;
  top: 5%;
  width: 86%;
margin: 0 15px;
  /*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);*/
}

.hovereffect:hover .overlay {
  background-color: rgba(0,0,0,0.4);
  opacity: 1;
}
.hovereffect:hover .overlay a {
    color: #fff;
    padding: 0px 115px;
}
.local{padding: 35px 0;}

/*********** venky code ********/

/*--------------------EVENT BY ORGANISER Css End-------------------*/

/*--------------------Footer Section1 Css Start---------------------------*/
.footer1{
    background: #c82033;
}
.clientlogo{
    padding: 25px;
}
/*--------------------Footer Section1 Css End---------------------------*/

/*--------------------Footer Section2 Css Start---------------------------*/
.footer2{
    background: #1b75b4;
    padding: 10px;
    padding-top: 20px;
}
.subscriberupdat{
    text-align: center;
}
.subscriberupdat p{
    text-align: center;
    font-size: 21px;
    color: #fff;
    font-family: 'OpenSans';
    display: inline-block;
}
.youremail{
width: 25%;
margin-left: 30px;
font-family: 'OpenSans';
font-size: 11px;
color: #6c6c6c;
height: 30px;
border: 0px;
padding-left: 30px;
background-image: url('/assets/email.png');
background-position: 7px 7px;
background-repeat: no-repeat;
}
.subscribe_news{
    margin-left: 30px;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
}
/*--------------------Footer Section2 Css End---------------------------*/

/*--------------------Footer Section3 Css Start---------------------------*/
.footer3{
    background: url('/assets/footer-bgr1.jpg');
    height: 160px;
}
.footer3container{
    padding: 30px;
}
.contactfooter{

}
.contactfooter h5{
    font-family: 'OpenSans-Bold';
    font-size: 13px;
    color: #6c6c6c;
}
.contactdeta{

}
.contactdeta p{
    font-family: 'OpenSans';
    font-size: 13px;
    color: #6c6c6c!important;
    margin-left: 25px;
}
.contactdeta span{
    float: left;
}
.logorowimg{
    text-align: center;
}
.menu-lft {
    margin: 0;
    padding: 15px;
    vertical-align: middle;
    display: inline-block;
    border-bottom: 1px solid #c82033;
}
.menu-lft li {
    float: left;
    list-style: none;
    padding: 0 8px;
    line-height: 12px;
    font-family: 'OpenSans';
    font-size: 13px;

}
.menu-lft li a{
    color: #6c6c6c!important;
}
.social-media {
    text-align: center;
}
.social-media li {
    display: inline-block;
}
.face {
    background: url('/assets/facebooknew11.png')no-repeat;
    width: 25px;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
}
.twit {
    background: url('/assets/twiter1new1.png') no-repeat;
    width: 25px;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
}
.linkin {
    background: url('/assets/linkdin1new1.png') no-repeat;
    width: 25px;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
}

/*--------------------Footer Section3 Css End---------------------------*/

/*--------------------Footer Section4 Css Start---------------------------*/
.foot-bottom {
    background: #333333;
    text-align: center;
}
.foot-bottom p {
    color: #777777;
    margin: 0;
    padding: 20px 0 15px 0;
    font-family: 'robotoregular';
    font-size: 12px;
}
.foot-bottom p a {
    color: #777777;
}
/*--------------------Footer Css End-----------------------------*/

/*--------------------Login Page Css Start-----------------------------*/
.dropdown.drop{
    position: absolute;
    z-index: 1;
}
.loginform{
    background: #1b75b4;
}
.conta-form {
    padding-top: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 330px;
    background:rgba(0,0,0,0.50);
    z-index:9;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.emailbox{
    width: 70%;
    margin-left: 15%;
}
.passbox{
    width: 70%;
    margin-left: 15%;
}
.emaillabel{
    margin-left: 15%;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: normal;
}
.passlabel{
    margin-left: 15%;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: normal;
}
.btn-login{
    margin-left: 15%;
    border-radius: 0px;
    background: #c82033;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
}
.btn-login:hover{
    margin-left: 15%;
    border-radius: 0px;
    background: #c82033;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
}
.loginsubfor span{
    margin-left: 18%;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
}
/*--------------------Login Page Css End-----------------------------*/

/*--------------------Registration Page Css Start--------------------*/
.regcontener{
    background: #e3e3e3;
}
.regcontener h3{
    font-size: 18px;
    font-family: 'OpenSans-Bold';
    color: #1b75b4;
}
.fotertop3{

}
.registerrow{
    text-align: right;
}
.btn-register{
    border-radius: 0px;
    background: #c82033;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
}
.labelalign{
    text-align: left!important;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
}
/*------------Radio Button-------------*/
.genderradio{

}
.genderradio input[type="radio"] {
  display: none;
}

.genderradio input[type="radio"] + label {
  color: #6c6c6c;
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: normal;
}

.genderradio input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.genderradio input[type="radio"] + label span {
  background-color: #fff;
}

.genderradio input[type="radio"]:checked + label span {
  background-color: #00445d;
}

.genderradio input[type="radio"] + label span,
.genderradio input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.reginputclas{
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
}
/*--------------------Registration Page Css End--------------------*/

/*--------------------My Event CSS Start---------------------------*/
.slider2{
    padding: 0px;
}
.slider2 img {
    height: 362px!important;
}
.slider2 .left.carousel-control{
    background: url("/assets/left-arrow2.png")no-repeat!important;
    display: inline-block;
    width: 45px;
}
.slider2 .right.carousel-control{
    background: url("/assets/right-arrow2.png")no-repeat!important;
    display: inline-block;
    width: 45px;
}
.bussinesconf1{
    background: #f8f8f8;
    border: 1px solid #a1a1a1;
}
.bussinesconf{}
.bussinesconf h3{
    font-size: 20px;
    font-family: 'OpenSans-Semibold';
    color: #1b75b4;
    padding-left: 15%;
}
.evntdate{
padding-left: 15%;
}
.evntdate span{
    float: left;
}
.evntdate p{
    font-family: 'OpenSans';
    font-size: 14px;
    color: #454545!important;
    margin-left: 25px;
}
.bussinesconf1 h2{
    font-family: 'OpenSans';
    font-size: 17px;
    color: #c82033;
    text-align: center;
    padding-bottom: 5px;
}
.bussinesconf1 h4{
    font-family: 'OpenSansLight-Italic';
    font-size: 17px;
    color: #c82033;
    text-align: center;
    padding-bottom: 12px;
    font-weight: 600;
}
.buytiketsblock{
    text-align: center;
}
.buy_ticket{
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    font-family: 'OpenSans';
    background: #1b75b4;
    border-radius: 0px;
    color: #fff;
}
.wouldatevt p{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
}
.yesnomaybe label{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
}
.yesnomaybe{

}
.yesnomaybe input[type="radio"] {
  display: none;
}

.yesnomaybe input[type="radio"] + label {
  color: #6c6c6c;
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: normal;
}

.yesnomaybe input[type="radio"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.yesnomaybe input[type="radio"] + label span {
  background-color: #fff;
  border: 1px solid #6c6c6c;
}

.yesnomaybe input[type="radio"]:checked + label span {
  background-color: #c82033;
}

.yesnomaybe input[type="radio"] + label span,
.yesnomaybe input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.yesnomaybe{
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
}
.attndevnt{

}
.addtomyevt{
    font-size: 17px;
    font-family: 'OpenSans';
    color: #c82033;
    background: transparent;
    border: 0px;
    box-shadow: none;
    margin-top: -5px;
    text-decoration: underline;
}
.attendevtcontainer{
    border-bottom: dashed #a1a1a1;
    border-width: 1px;
}
/*---------------------------My Event Tab Section Css Start-------------------------*/
.eventtab{
    border: 1px solid #a1a1a1;
    background: #f3f3f3;
}
.eventdeltab{
    width: 25%;
    text-align: center;
    margin-bottom: -2px!important;
    font-family: 'OpenSans-Semibold';
    font-size: 16px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff;
    cursor: default;
    background-color: #1b75b4;
    border: 0px solid #a1a1a1;
    border-radius: 0px;
}
.nav-tabs>li>a:hover {
     border-color: transparent!important;
     border-radius: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
     background-color:transparent; 
}
#menu1{
    border-top: 0px;
    border: 1px solid #a1a1a1;
    padding-bottom: 30px;
}
#menu2{
    border-top: 0px;
    border: 1px solid #a1a1a1;
}
#menu3{
    border-top: 0px;
    /*border: 1px solid #a1a1a1;*/
}
#menu4{
    border-top: 0px;
    /*border: 1px solid #a1a1a1;*/
}
/*-------------------Tab 1 Css---------------------*/
.business_confrence{

}
.business_confrence h1{
    font-size: 20px;
    font-family: 'OpenSans-Semibold';
    color: #1b75b4;
    padding-left: 15px;
}
.business_confrence p{
    font-family: 'OpenSans';
    font-size: 13px;
    color: #6c6c6c;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 22px;
}
.business_confrence h2{
    font-size: 20px;
    font-family: 'OpenSans-Semibold';
    color: #1b75b4;
    padding-left: 15px;
}
ul.businssul li {
    list-style-image: url('/assets/right-arrow-button.png')!important;
    margin-left: 50px;
    font-family: 'OpenSans';
    font-size: 13px;
    color: #6c6c6c;
    line-height: 22px;
}
/*-------------------------Tab2 Css-----------------*/
.agendaimg span{
    float: left;
}
.agendaimg p{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 35px;
}
.welcobusine h1{
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    color: #1b75b4;
}
.welcobusine p{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
}
.welcobusine h2{
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    color: #1b75b4;
}
.addevtdetai{
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    font-family: 'OpenSans';
    background: #1b75b4;
    border-radius: 0px;
    color: #fff;
}
.addevtdetrow{
    padding-left: 60px;
}
/*---------------------Tabe3---------------------*/
.venudetbk1 span{
    float: left;
}
.venudetbk1 p{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 40px;
}
.available{
    font-size: 16px;
    font-family: 'OpenSans';
    color: #1b75b4;
    text-decoration: none;
    padding-left: 5px;
}
.sharespan span{
    float: right;
}
.sharespan p{
    float: right;
    font-size: 16px;
    font-family: 'OpenSans';
    color: #337ab7;
    padding-right: 10px;
}
.menu3{
    border: 1px solid #a1a1a1;
}
/*-------------------Tab4---------------------*/
.adressmap{
    width: 550px;
    height: 300px;
}
.orgnizerdetales{
    border: 1px solid #a1a1a1;
}
.orgnizerdetail{
    padding: 15px;
}
.orgnizerdetail span{
    float: left;
}
.orgnizerdetail p{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 60px;
}
.orgnizerdetail ins{
    font-family: 'OpenSans';
    font-size: 16px;
    color: #c82033;
    padding-left: 10px;
}
/*---------------------------My Event Tab Section Css End-------------------------*/
.slidealign .col-md-3{
    float: left;
}
.sponsorblock .col-md-3{
    float: left;
}
.sponsor{
    background: url('/assets/bg.jpg');
    padding-bottom: 20px;
}
.sponsorblock h1{
    font-family: 'OpenSans';
    font-size: 18px;
    color: #6c6c6c;
}
.userreviwblock{
    padding: 0px;
}
.user_review{
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding-right: 35px;
    padding-left: 35px;
}
.user_review h1{
    font-family: 'OpenSans-Bold';
    font-size: 18px;
    color: #6c6c6c;
}
.userreviewinput{
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
    border-radius: 0px;
}
.userreviewsubmit{

}
.btn-userreview{
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'OpenSans';
    background: #1b75b4;
    border-radius: 0px;
    color: #fff;
}
.eventslider{

}
.eventslider h3{
    font-size: 16px;
    font-family: 'OpenSans-Bold';
    color: #1b75b4;
    padding-bottom: 15px;
}
.innercarousbg{
    background: #f8f8f8;
}
.galerslide1{
    padding-left: 0px;
    margin-left: -5px;
}
.eventslider .right.carousel-control{
    background: url("/assets/left-arrow1.png")no-repeat!important;
    display: inline-block;
    top: 45px;
    right: 5px;
    width: 24px;
} 
.spread_the_word{
    margin-top: -20px;
}
.spread_the_word h1{
    background: #f8f8f8;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #c82033;
    padding: 15px;
}
.footsocialicon1{
    text-align: center;
}
ul.footsocialicon1 li {
    display: inline-block;
}
.sherwityouf{
    padding-bottom: 15px;
}
.sherwityouf p{
    font-family: 'OpenSans';
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    border-bottom: dashed #a1a1a1;
    border-width: 1px;
    padding-bottom: 10px;
}
.simevtblock{
    border-bottom: dashed #a1a1a1;
    border-width: 1px;
    height: 140px;
}
.sminevtimg{
    padding: 0px;
}
.simeevtul span{
    float: left;
}
.sminevtcont{
    padding: 0px;
}
.simeevtul p{
    font-family: 'OpenSans';
    font-size: 13px;
}
.banartcoll{
    border-bottom: 1px solid #ddd; 
}
.simevtblock2{
    border-bottom: dashed #a1a1a1;
    border-width: 1px;
    height: 120px;
}
.simeevtul2{
    padding-top: 10px;
}
.sminevtimg2{
    padding: 0px;
    padding-top: 10px;
}
.sminevtcont2 {
    padding: 0px;
}
.simeevtul2 p{
    font-family: 'OpenSans';
    font-size: 13px;
}
.banartcoll2{
    border-bottom: 1px solid #ddd; 
}
.simeevtul2 span{
    float: left;
}
.simeevtul2 p{
    font-family: 'OpenSans';
    font-size: 13px;
}


.simevtblock3 {
    border-bottom: dashed #a1a1a1;
    border-width: 1px;
    height: 120px;
}
.sminevtimg3 {
    padding: 0px;
    padding-top: 10px;
}
.sminevtcont3 {
    padding: 0px;
}
.simeevtul3 {
    padding-top: 10px;
}
.banartcoll3 {
    border-bottom: 1px solid #ddd;
}
.simeevtul3 p {
    font-family: 'OpenSans';
    font-size: 13px;
}
.simeevtul3 span {
    float: left;
}

.other_event_table p{
    font-family: 'OpenSans';
    font-size: 13px;
    color: #6c6c6c;
    margin-left: 15px;
}
/*--------------------My Event CSS End---------------------------*/
/*--------------------Media Quers Start----------------------------*/
@media(max-width: 370px){

.slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
}

}

@media(min-width: 335px) and (max-width: 370px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
}
}

@media(min-width: 330px) and (max-width: 480px){
.slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
}
}
@media(min-width: 320px) and (max-width: 420px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
}
}
@media(max-width: 670px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}

@media(max-width: 990px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 480px) and (max-width:760px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(max-width: 550px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(max-width: 520px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 480px) and (max-width:800px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 800px) and (max-width:990px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 550px) and (max-width:990px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 990px) and (max-width:1200px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
@media(min-width: 767px) and (max-width:1200px){
    .slider .right.carousel-control {
    background: url("/assets/arrow2.png")no-repeat;
    display: inline-block;
    right: 0%;
    width: 25px;
}
.slider .left.carousel-control {
    background: url("/assets/arrow1.png")no-repeat;
    display: inline-block;
    left: 0%;
    width: 25px;
} 
}
/*--------------------Media Quers End----------------------------*/

/*--------------------Profile Page Css Start--------------------*/
.profilecontener{
    background: #e3e3e3;
}
.profilecontener h3{
    font-size: 18px;
    font-family: 'OpenSans-Bold';
    color: #1b75b4;
}
.fotertop3{

}
.profilebtnrow{
    text-align: right;
}
.btn-profile{
    border-radius: 0px;
    background: #c82033;
    color: #fff;
    font-family: 'OpenSans';
    font-size: 14px;
}
.profilelabelalign{
    text-align: left!important;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
    padding: 0px;
}
.profileinputclas{
    font-size: 14px;
    font-family: 'OpenSans';
    color: #6c6c6c;
    font-weight: normal;
}

.profilecontener .form-control[disabled]{
    background:#fff;
}
.profilgender{
    padding-left: 15px;
}
.userprofile img{
    padding: 15px;
}
/*--------------------Profile Page Css End--------------------*/

/*---------------------------Calendarnew Css Start---------------------*/
.newcontrol{position:absolute;top:42%;width:1.9%;}
.upcom-fest .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.upcom-fest .carousel1 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.upcom-fest .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
.upcom-fest .carousel-indicators li {
    background: #c0c0c0;
}
.upcom-fest .carousel-indicators .active {
background: #333333;
}
.newcontrol{opacity:1}
.calendar_months h3{
    font-family: 'OpenSans-Bold';
    font-size: 18px;
    color:#4d4c4c;
    text-transform: uppercase;
    border-bottom: 4px solid #ccc;
    padding: 0px 0px 8px 0px;
}
.calendar_slider_margin_provide{
    margin-bottom:20px;
    margin-top:10px;
}
.holiday_for_calendar{
    background-color: #E8A6AD;
    height: 110px;
    border-radius: 0px 0px 0px 0px;
}
.noramlday_for_calendar{
    background-color: #ccc;
    height: 110px;
    border-radius: 0px 0px 0px 0px;
}
.holiday_for_calendar p:first-child{
    color:#4d4c4c;
    font-family:'OpenSans';
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 8px;
    padding-top: 8px;
}
.holiday_for_calendar p:last-child{
    color:#C81F32;
    font-family:'OpenSans-Bold';
    font-size: 13px;
    text-transform: uppercase;
    padding: 0px 8px;
}
.noramlday_for_calendar p:first-child{
    color:#4d4c4c;
    font-family:'OpenSans';
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 8px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.calendar_arrow .left{
    background: transparent url("/assets/image-sprites.png") no-repeat scroll -200px -268px;height: 20px;
    position: absolute;left: -4px;
}
.calendar_arrow .right{
    background: transparent url("/assets/image-sprites.png") no-repeat scroll -240px -268px;
    height: 20px;
    position: absolute;
}
.any_fest_img_calendar img{width:100%;}
.any_fest_img_calendar{margin-bottom: 10px}
/*---------------------------Calendarnew Css Start---------------------*/
.about_us_main{
    font-size: 24px;
    text-align: center;
    font-family: 'OpenSans-Semibold';
}


.container-fluid{padding: 0!important;}
.evtbyorganiz_event.new {display: block;}
.evtbyorganiz_event.new h3{
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    color: #c82033;
    text-align: center;
    width: 100%;
    background: transparent;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 0px -0px rgba(209,201,209,0.73);
    -moz-box-shadow: 0px 0px 0px -0px rgba(209,201,209,0.73);
    box-shadow: 0px 0px 0px -0px rgba(209,201,209,0.73);
}
.evtbyorganiz_event.new h3 a{color:#c82033; }
.overlay h2 {
    margin: 0; font-size: 16px;
    padding: 15px 0 10px 0; color: #000; 
}
.overlay p {
    margin: 0!important; padding: 15px 15px; font-size: 24px;
    color: #fff!important;
    font-family: "OpenSans-Semibold";
    text-align: center;
}
span.badge_plus{background-color: #1b75b4;  bottom: 3px;padding: 7px 15px;}
div.upcoming_event h3 {
    box-shadow: 0 0 0 0 rgba(209, 201, 209, 0.73);
    color: #c82033;
    font-family: "OpenSans-Semibold";
    font-size: 24px;
    padding: 10px;
}
div.featured_event h3 {
    background-color: #f8f7f7;
    box-shadow: 0 2px 12px -1px rgba(209, 201, 209, 0.73);
    color: #c82033;
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    padding: 10px;
    margin-left: 15px;
}
div.getmorinfobtn {
    background: #1b75b4 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff !important;
    font-family: "OpenSans";
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
legend.legend_year {
    background-color: #c81f32;
    border: medium none;
    border-radius: 94%;
    color: #fff;
    display: inline-block;
    font-size: 23px;
    height: 100px;
    left: 39%;
    line-height: 29px;
    padding: 22px 20px;
    position: absolute;
    top: 125px;
    vertical-align: middle;
    width: 105px;
    word-wrap: break-word;
}
div.evtbyorganiz_event.new h3 {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 0 0 rgba(209, 201, 209, 0.73);
    color: #c82033;
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.slider-side .left.carousel-control{ background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); position: inherit;}
.slider-side .right.carousel-control{background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); position: inherit;}
.carousel.slide.slider-side {
    text-align: center;
}
.carousel1.slide.slider-side {
    text-align: center;
}
.hovereffect_circle{
    height:275px;
}
.featured_event.evebt h3{ box-shadow: 0 0 0 0 rgba(209, 201, 209, 0.73);
    color: #c82033;
    font-family: "OpenSans-Semibold";
    font-size: 24px;   text-align: center;
    padding: 10px;}
.featured_event.evebt{width:100%; display: block;}
.featured_event h3{background-color: transparent!important;}
header.header{width:100%; margin-top: 0;}
nav.navbar.navbar-default{margin: 0;}
div.slider_container{margin-top: 0;}
.slider2 img{height: 364px!important;}


 .slider a.right.carousel-control {
   bottom: 0;
   right: 0;
}
.slider a.left.carousel-control {
   bottom: 0;
   left: 15px;
}
.event_name_calender {
   background-color: rgb(255, 255, 255);
   color: #1875b2;
   font-weight: bold;
   left: 90px;
   padding: 4px 10px;
   position: absolute;
   top: 110px;
}
.event_name_calender:hover {
   visibility: hidden;
}

.hovereffect_circle img {
   height: 250px;
   width: 250px;
}
.hovereffect_circle:hover .overlay{background-color: #c81f32; }
.hovereffect_circle:hover a, .hovereffect_circle:hover .overlay{opacity:1;}
.hovereffect_circle:hover .overlay a {
   color: #fff;
   padding: 80px;
}
 

 .hovereffect_circle .overlay{
border-radius: 50%;
   height: 200px;
   left: 13%;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   top: 10%;
   width: 200px;}
.badge_plus {
   border-radius: 50%;
   bottom: -10px;
   color: #fff;
   font-size: 18px;
   left: 125px;
   padding: 5px 15px;
   position: absolute;
}

/*********************Remove Side Space***kartick*********************/
.holiday_for_calendar p{text-align: center; margin:0;}
.noramlday_for_calendar p{
    display: table-cell!important;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.noramlday_for_calendar {
    background-color: #ccc;
    border-radius: 0;
    display: table;
    height: 110px;
    width: 100%;
}
div.holiday_for_calendar p:first-child{padding-top: 15%;}

/*14 -3-2015 karthick */
#user_email{  width: 70%!important;}
#user_password{width: 70%!important;}
div.event_name_calender{left: 20%; margin-left: 0px; width: 40%;}
div.hovereffect_circle .overlay{left: 11%;}

.imgsize{
    height: 190px;
    width: 100%;
}


/*----------------------------Ramesh Claendar ---------------------------*/
.dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}
.nav>li {
    position: inherit !important;
}
.dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    border-top: 2px solid #C81F32;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 53px 25px;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}