<!DOCTYPE html>
<html>
<head>
  <title>Vpad</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

  <link rel="stylesheet" href="css/jBox.css" />>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
